
:root{

    --thumb-color:hsl(204, 89%, 57%);
    --thumb-active-color:hsl(204, 93%, 39%);

    --background-color:#eee;
  
    
  

}
body{
    
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  margin: 0;
}
h4{
  margin: 0 0 10px 0;
  color: #7c7c7c;
}




.card{
 width: 90%;
 height: max-content;
 max-width: 600px;
 border-radius: 5px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 display: flex;
 flex-direction: column;
  background-color:var(--background-color) ;
}

  
.prices-content{
  display:grid;
  grid-template-rows: 1fr 1fr 60px ;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  /*grid-template-columns: 150px 1fr; */
  margin-bottom: 30px;
  grid-gap:20px ;
  align-items:center ;
  justify-items: center;
  grid-template-areas:
  "empty2 empty2 empty2 empty2"
  "views views price  price "
  "range range range range "
  

}
.price-span{
  font-size: 30px;
  display: flex;
  font-weight: 600;
  grid-area: price;
}
#tag-cycle{
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  
}


/* le damos tamaño al input y lo colocamos block para que se comporte como un elemento normal en el html estilo
un div y que agarre el margin automatico */
#range-input{
    width: 90%;
    
    position: relative;
    display: block;
  grid-area: range;

}
.views-span{
  grid-area: views;


}
/*quitamos las configuraciones por defecto como viene en el explorador para cuando se selecciona el boton del 
slider no coloque ninguna sombra en el caso de opera es de color azul*/
#range-input:focus {
    outline: none;
  }


/*quitamos el resto de apariencia por defecto que coloca el navegador */
#range-input,
#range-input::-webkit-slider-runnable-track,
#range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* el Thumb es el boton de la barra de desplazamiento como ya quitamos los cambios por defecto que trae el explorador 
podemos agregar nuestros propios estilos*/
#range-input::-webkit-slider-thumb {
    background-color: var(--thumb-color);
    width: 50px;
    height: 50px;
    background-image: url('../resource/icon-slider.svg');
    background-repeat: no-repeat;
    border: 3px solid var(--background-color);
    background-position: center center;
    background-size: 80%;
    border-radius: 50%;
    margin-top: -20px;
    cursor: grab;
  }

  #range-input::-webkit-slider-thumb:hover{
    box-shadow: 0 0 20px var(--thumb-color);
    
  }
  #range-input::-webkit-slider-thumb:active{
    background-color: var(--thumb-active-color);
    cursor: grabbing;
  }



/* Firefox*/
  input[type=range]::-moz-range-thumb {
    background-color: var(--thumb-color);
    width: 50px;
    height: 50px;
    background-image: url('../resource/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid var(--background-color);
    background-size: 80%;
    border-radius: 50%;
    margin-top: -20px;
  }
/*   
  #range-input::-moz-range-thumb:hover{

  
  } */



  /* barra de desplazamiento*/
input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--thumb-color);
    height: 10px;
    border-radius:20px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
  }

/* barra de desplazamiento en firefox*/
  input[type=range]::-moz-range-track {
    background-color:var(--thumb-color);
    height: 10px;
    border-radius:20px;
  }
  

  /* input[type=range]::-ms-track {
    background-color: #777;
    height: 10px;
    border-radius:20px;
  } */






  /* switch  */

  #label-switch{
    position: relative;
    width: 100px;
    height: 30px;
    
    border-radius: 20px;
    cursor: pointer;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    transition: all 0.3s;
  }
  #discount-checkbox{
      display: none;
  }

  #span-checkbox{
    left: 1px;
    top: auto;
    bottom: auto;
    width: 29px;
    height: 29px;
    background: var(--background-color);
    border-radius: 50%;
    z-index: 1;
    transform: translateX(0px);
    position: relative;
    transition: transform 1s;
  
  }

  .checkbox-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

  }
  .discount{
    background: rgba(250, 22, 22, 0.315);
    color: rgb(247, 8, 8);
    font-weight: bold;
      border-radius: 5px;
      padding: 2px 10px;
  }
  .short{
    display: none;
  }
  
  
  #discount-checkbox:checked + #label-switch {
    transition: all 0.3s;
    background:rgba(16, 212, 9, 0.705);
    
  }
  #discount-checkbox:checked ~ #label-switch #span-checkbox {

    transform: translateX(70px);
    
    
  }

  #label-switch:hover{

    box-shadow: 0 0 20px rgba(16, 212, 9, 0.705);
  }
 
  .h-line{
    
    
    
    width: 90%;
   
  }

  /* boton para comenzar*/


  .start-button-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 50px 0;
  }
  #start-button{

    color: #eee;
    background-color: var(--thumb-color) ;
    outline: inherit;
    border: none;
    border-radius: 30px;
    padding: 10px 0;
    width: 200px;
    font-weight: 600;
    cursor: pointer;
    transition: color .5s;
    
  }
  #start-button:hover{
    color: rgba(226, 214, 214, 0.596);
  }
  .list-benefits {
    list-style-image:  url('../resource/icon-check.svg');
  }
  .list-benefits li{

    margin: 10px auto;
  }


@media all and (max-width:600px){

  .prices-content{
    margin-top: 30px; 
    margin-bottom: 10px; 
    grid-template-areas:
    "views views views views "
    "range range range range "
    "price  price price price"   
  }
  
  .checkbox-content{
  
    font-size: 11px;

  }
 
  #label-switch{
    position: relative;
    width: 50px;
    height: 25px;
   
  }
  .long{
    display:none
  }
  .short{
    display:block
  }
  .discount{
   padding: 1px 1px;
   text-align: center;

  }

  #span-checkbox{
   
    width: 19px;
    height: 19px;
   
  
  }


  #discount-checkbox:checked ~ #label-switch #span-checkbox {

    transform: translateX(30px);
    
    
  }




}

@media all and (max-width:500px) {
  .start-button-content{
    flex-direction: column;
  }
  h1{
    font-size: 20px;
  }
  h4{
    font-size: 12px;
    text-align: center;

  }
  
}